<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OAuth Tutorial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../../style.css" />

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
    </script>
    <!-- <script src="main.js"></script> -->
</head>

<body>
    <%- include  nav.ejs %>
    <header>
        <h1>You are logged in</h1>
        <h2>Homepage</h2>

    </header>
    <main>
        <button id="list-cases-btn">List cases</button>
        <input id="input-case" type=text placeholder="Enter Case Id">
        <button id="search-case-btn">Search</button>
    </main>

    <script>
        console.log("this is test");
        console.log(document.cookie);

        let tokenValue = getTokenCookie();
        console.log();
        console.log(tokenValue);
        if(tokenValue){
            $.ajax({
                url: "http://localhost:3000/api/account",
                type: "GET",
                headers: {
                    token: tokenValue
                },
                success: function (data, status) {
                    console.log(data);
                    $("main p").text(data);
                    $("main").append("<select class='select-sac'></select>");
                    JSON.parse(data).forEach(element => {
                        $(".select-sac").append("<option>"+element.name+"->"+element.sac+"</option>")                        
                    });
                    tokenValue = getTokenCookie();
                    let sac = JSON.parse(data)[0].sac;
                    let xmlHttpRequest = new XMLHttpRequest();
                    
                    if(data && tokenValue){
                        $.ajax({
                        url: "http://localhost:3000/api/product?sac="+sac,
                        type: "GET",
                        headers: {
                            token: tokenValue
                        },
                        success: function (productsJSON, status) {
                            console.log("KIRO");
                            $("main").append("<br>");
                            $("main").append("<select class='select-product'></select>");

                            let productsAndVersions = JSON.parse(productsJSON);
                            let products = [];
                            console.log(productsAndVersions);
                            productsAndVersions.forEach( element =>{
                                products.push({
                                    id: element.id,
                                    name: element.name
                                })
                            }
                            )
                            let versions = products.versions;
                            products.forEach(element=>{
                                $(".select-product").append("<option>"+element.name+" id->"+element.id+"</option>");
                            })

                            $("main").append("<br>");
                            $("main").append("<select class='select-product-version'></select>");
                            
                            $(".select-product").change(function(e){
                                console.log(e);
                                
                                let prodIndx = $(this).children('option:selected').index();
                                $(".select-product-version").empty();

                                productsAndVersions[prodIndx].versions.forEach(element=>{
                                    $(".select-product-version").append("<option>"+element.name+" id->"+element.id+"</option>")
                                });

                            });

                        },
                        error: function(xhr, status, error){
                            console.log("Error: "+error);
                        }
                        
                        });

                    $("#list-cases-btn").click(function(e){
                        $.ajax({
                        url: "http://localhost:3000/api/case",
                        type: "GET",
                        headers: {
                            token: tokenValue
                        },
                        success: function (responseJSON, status) {
                           console.log(responseJSON.slice(0,500));
                           let allCases = JSON.parse(responseJSON);
                           allCases.forEach(element=>{
                               $("main").append("<p>"+JSON.stringify(element)+"</p>");
                           });
                        },
                        error: function(xhr, status, error){
                            console.log("Error: "+error);
                        }
                        
                        });
                    });

                    $("#search-case-btn").click(function(e){
                        let caseId = $("#input-case").val();

                        $.ajax({
                        url: "http://localhost:3000/api/case/"+caseId,
                        type: "GET",
                        headers: {
                            token: tokenValue
                        },
                        success: function (responseJSON, status) {
                           $("main").prepend("<p>"+responseJSON+"</p>");
                           let attachmentsArr = JSON.parse(responseJSON).attachments;
                           let caseId = JSON.parse(responseJSON).caseNumber;
                           
                           attachmentsArr.forEach(element=>{
                            //   $("main").prepend("<a id="+element.id+" href='/'>"+element.name+"</a>");
                            $("main").prepend("<a id="+element.id+" href=http://localhost:3000/api/attachment?caseId="
                                +caseId+"&attachmentId="+element.id+">"+element.name+"</a>");
                           });

                           $("main").click(function(e){
                               let target = e.target;
                               
                            //    let attachmentId = target.id;
                            //    e.preventDefault();
                            //    console.log(target);
                            //    console.log(target.tagName);
                            //    console.log("print from a click: "+attachmentId);

                            //    if(target.tagName.toLowerCase()==="a"){

                            //     console.log("Click na a tag")
                            //     $.ajax({
                            //         url: `http://localhost:3000/api/attachment?caseId=${caseId}&attachmentId=${attachmentId}`,
                            //         type: "GET",
                            //         headers: {
                            //             token: tokenValue
                            //         },
                            //         success: function (response, status) {
                            //             console.log("Res File: "+ response);
                            //         },
                            //         error: function(xhr, status, error){
                            //            console.log("Error: "+error);
                            //         }
                            //     })
                            //    }
                           });

                        },
                        error: function(xhr, status, error){
                            console.log("Error: "+error);
                        }
                        
                        });
                    });
                    }
                    
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            })
        }

        function getTokenCookie(){
            if(document.cookie){
                let cookiesArr = document.cookie.split(";");
                for(let i=0;i<cookiesArr.length;i++){
                    let cookie = cookiesArr[i].trim().split("=");
                    let key = cookie[0];
                    let value = cookie[1];
                    if(key==="token"){
                        return value;
                    }
                }
            }else{
                return "";
            }
        }
    </script>
</body>

</html>